<mat-toolbar color="primary">
    <mat-toolbar-row>
       <span><a href="/home"> <img src="assets/img/accolite-logo.jpg" alt="AU-logo" width="180" height="70"></a></span>
       <span class="spacer"></span>
       <a  mat-button color="primary" routerLink="/trendschart">Trends</a>
          <a  mat-button color="primary" routerLink="/viewtrends">Opportunity</a>
          <a  mat-button color="primary" routerLink="/home">Logout</a>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar>
    <span>Create Opportunity</span>
  </mat-toolbar>
  
  <mat-card>         
    <mat-card-content>  
                    <form>     
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>OpportunityId</mat-label>
                        <input  matInput type="number"  placeholder="OpportunityId"   name="oid" [(ngModel)]=Opportunity.oid  required>
                    </mat-form-field> 
                      &nbsp;&nbsp;
                    
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>OppurtunityDescription</mat-label>
                        <input  matInput  placeholder="Description"  name="description"  [(ngModel)]=Opportunity.description required>
                     </mat-form-field>    
                     <br>
                    <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Location</mat-label>
                    <input  matInput  placeholder="Location"  name="location" [(ngModel)]=Opportunity.location  required>
                     </mat-form-field>     
                     &nbsp;&nbsp;
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Skills</mat-label>
                        <input  matInput  placeholder="Skills"  name="skills" [(ngModel)]=Opportunity.skills required>
                     </mat-form-field> 
                     <br>          
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>OpeningCount</mat-label>
                        <input  matInput type="number"  placeholder="OpeningCount"   name="openingcount" [(ngModel)]=Opportunity.openingcount required>
                     </mat-form-field>
                     &nbsp;&nbsp;
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>ProjectDuration</mat-label>
                      <input  matInput type="number"  placeholder="ProjectDuration in Days"  name="projectduration" [(ngModel)]=Opportunity.projectduration required>
                   </mat-form-field>
                    
                   <br>
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>LastDate</mat-label>
                    <input  matInput  placeholder="LastDate"  name="lastdate" [(ngModel)]=Opportunity.lastdate required>
                 </mat-form-field>
                 &nbsp;&nbsp;
            
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Experience</mat-label>
                    <input  matInput  placeholder="Experience"  name="experience"  [(ngModel)]=Opportunity.experience required>
                 </mat-form-field> 
                 <br>
  
                 <mat-form-field class="full-width" appearance="outline">
                  <mat-label>ManagerName</mat-label>
                  <input  matInput  placeholder="ManagerName"  name="managername"  [(ngModel)]=Opportunity.managername required>
               </mat-form-field> 
               &nbsp;&nbsp;
               
                 <mat-form-field class="full-width" appearance="outline">
                  <mat-label>ManagerEmail</mat-label>
                  <input  matInput type="email" [formControl]="email"  placeholder="ManagerEmail" name="manageremail" [(ngModel)]=Opportunity.manageremail required>
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              
            
           
               
              <br>     
              <a routerLink="/viewtrends"> <button mat-raised-button color="primary" (click)="savenow()">Create</button></a> &nbsp;&nbsp;&nbsp;   
                        <button mat-raised-button color="primary" type="reset">Clear</button>    
              </form>
    </mat-card-content>    
  </mat-card> 
  