
  <div *ngIf="loggedIn===false">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
         <span><a href="/home"> <img src="assets/img/accolite-logo.jpg" alt="MS-logo" width="180" height="70"></a></span>
         <span class="spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>
    
      <div class="bgdiv">
    <div class="main-div">
        <mat-card>
        <mat-card-title><span>Welcome to the Opportunity Management Portal - AU MS 20</span></mat-card-title><br><br>
        <mat-card-content><span>Kindly Signin and be a part of AU MS 20</span> </mat-card-content>
        <mat-icon>supervisor_account</mat-icon>   
        <form [formGroup]="signinForm">
        </form>
        <div>
          <button mat-raised-button color="primary" (click)="signInWithGoogle()" class="btn btn-primary">Sign In With Google+</button>
        </div>
      </mat-card>
      </div>  
      </div>
      </div> 
      <div *ngIf="loggedIn===true">
        <mat-toolbar color="primary">
          <mat-toolbar-row>
             <span><a href="/home"> <img src="assets/img/accolite-logo.jpg" alt="AU-logo" width="180" height="70"></a></span>
             <span class="spacer"></span>
             <a  mat-button color="primary" routerLink="/trendschart">Trends</a>
                <a  mat-button color="primary" routerLink="/viewtrends">Opportunity</a>
             <button  mat-button  color="primary" (click)="signOut()">Logout</button>
          </mat-toolbar-row>
        </mat-toolbar>
        <mat-toolbar>
          User Details&nbsp;&nbsp;&nbsp; 
        </mat-toolbar>
        <mat-card>
        <mat-card-content>Signed In with Google</mat-card-content> 
        <mat-icon>supervisor_account</mat-icon> 
        <mat-icon>verified_user</mat-icon>
        
        <div class="form-group">
          <label for="firstname">First Name:&nbsp;&nbsp;</label>

          <input type="text" class="form-control" id="firstname" [(ngModel)]="user.firstName" [value]="user.firstName" readonly >
        </div>          <div class="form-group">
          <label for="lastname">Last Name:&nbsp;&nbsp;</label>
          <input type="text" class="form-control" id="lastname" [(ngModel)]="user.lastName" [value]="user.lastName" readonly >
        </div>          <div class="form-group">
          <label for="email2">Email:&nbsp;&nbsp;</label>
          <input type="email" class="form-control" id="email2" [(ngModel)]="user.email" [value]="user.email" readonly >
        </div>
        <button  mat-raised-button  (click)="rememberuser()">Remember Me</button>
       <br>
       </mat-card>
      </div>  

